# NG-SIEM (Wazuh) secrets - rendered from vault-provided Ansible variables.
WAZUH_INDEXER_PASSWORD={{ wazuh_indexer_password }}
WAZUH_API_PASSWORD={{ wazuh_api_password }}
WAZUH_DASHBOARD_PASSWORD={{ wazuh_dashboard_password }}
